.login-page {
 background-color: #eaefee;
 padding-top: 150px;
 padding-bottom: 50px;
 /* border: 1px solid; */

}
.login-content{
  box-sizing: 5px 5px 5px 0 yellow;
  /* border: 1px solid; */
}

.main-content .input {
  border-radius: 5px;
}
.continue-signin {
  margin-right: 125px;
  background-color: #1dbf73;
}
.continue-signin:hover {
  color: white !important;
}
