.App {
  text-align: center;
  
}
body{
  font-family: 'Montserrat', sans-serif !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/*  swiper for banner*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.slider-content{
  position: absolute;
  top: 200px;
  left:10%;
  color: #fff;
  z-index: 1;
 
}
.searchLeft .form-carousel{
  height: 48px;
  margin: 24px 0;
}
.form-control{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip:padding-box;
  border: none;
  transition: border-color 0.15s ease-in-out,  box-shadow 0.15s ease-in-out;
  
}
.slider-content h1{
  font-size: 48px;
  line-height: 3.5rem;
}
.search{
  width: 100%;
}
.search .content{
  display: flex;
  justify-content: start;

  
  align-items: start;
}
.searchLeft{
  text-align: left;
  width: 50%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slick-slider.slick-initialized {
  display: block;
}
.slick-arrow.slick-prev {
  background: black;
}
.slick-arrow.slick-next {
  background: black;
}

.containerSlider{
  padding: 10px 15px;
}

.slick-slide .slick-active{
  width: 211px;
}

.slick-next:before,.slick-prev:before{
  font-size: 35px !important;
  color: #b5b6ba!important;
}
.itemSlider{
  width: 211px !important;
  display: inline-block;
}

.selling li{
  margin: 24px 0;
  text-align: left;
  font-size: 25px;
}
.selling li p{
  color: #000000D9;
  font-size: 15px;
  margin-bottom: 1em;
}

.selling li span{
  font-size: 20px;
  font-weight: bold;
}
.video{
  position: relative;
}
.video .modal-btn::after{
  background: url('https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png') no-repeat;
  background-size: 80px ;
  z-index: 1;
  content: "";
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 45%;
  height: 80px;
  width: 100%;
}

.carousel-container{
  display: flex !important;
  justify-content: space-evenly;
  width: 100%;
  

}

.img-content span{
  margin-left: 20px !important;
  height: 36px;
  border-left: 1px solid #c5c6c9;
  display: inline-block;
}

.img-content img{
  width: 90%;
  height: 100%;
}

.carousel-content{
  display: flex;
  
}
.carousel-img{
  position: relative;
}

.content-testimonial{
  text-align: left;
  width: 100%;
  color: #003912;
  font-size: 25px;
  font-weight: 500;
}


.carousel-button::after{
  background: url('https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png') no-repeat;
  background-size: 80px ;
  z-index: 2;
  content: "";
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 50%;
  height: 80px;
  width: 100%;
}

.main-categories-img{
  display: block;
    height: 48px;
    margin: 0 auto 15px;
    width: 48px;
}
.categories{
  position: relative;
  display: inline-block;
  text-align: center;
  transition: 0.5s;
  border-bottom: 2px solid #c5c6c9 ;
  width: 48px;
}
/* .categories:not(:hover){
  border-color: #c5c6c9;
} */
.categories::after{
 
  content: "";
  padding: 0 0 8px;
  position: absolute;
  bottom: -1%;
  right: 50%;
  
  transform: translateX(50%);
  
}

.categories:hover{
 border-color: #1dbf73;
width: 80px;
z-index: 4;

}

.footer-fiver{
  border-top: 2px solid #c5c6c9 ;
}

/* .footer-carousel .sub-content-1::after{
  content: 'Content Marketing';
  color: #b5b6ba;
  display: block;
}

.footer-carousel .sub-content-2::after{
  content: 'Invoice Software';
  color: #b5b6ba;
  display: block;
}
.footer-carousel .sub-content-3::after{
  content: 'Online Courses';
  color: #b5b6ba;
  display: block;
} */
.footer-carousel{
  position: relative;
}
.footer-carousel p::after{
 content: "";
 background: #74767e;
 bottom: 0;
 right: 50%;
 height: 1px;
 position: absolute;
 width: 50%;
 z-index: 1;

}
.footer-carousel p:hover{
  width: 100%;
}
.footer-carousel ul li a{
  position: relative;
  width: 0;
  padding: 5px 0;
}
.footer-carousel ul li a::after{
  content: "";
  background: #74767e;
  bottom: 0;
  left: 0%;
  height: 1px;
  position: absolute;
  width: 0 ;
  z-index: 1;
  transition: 0.5s;
}

.footer-carousel ul li:hover a::after{
  width: 100%;
}

.footer-carousel ul li .sub-chapter::after{
  content: "";
  background: #74767e;
  bottom: 0;
  left: 0%;
  height: 1px;
  position: absolute;
  width: 0 ;
  z-index: 1;
  transition: 0.5s;
}

.footer-carousel ul li .sub-chapter{
  position: relative;
 
  padding: 3px 0;
  display: block;
  color:#b5b6ba;
  display:block
}

.footer-carousel ul li .sub-chapter:hover::after{
  width: 100%;
}

/* header */
.header-row .left .nav_icon{
  background: none;
  border: none;
  display: none;
  font-size: 20px;
  margin-right: 15px;
}
svg{
  vertical-align: middle;
  color: #003912;
}

.header-row .right ul li{
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px;
  transition: 0.3s;
}

.right .button-join:hover{
color: #fff!important;
}
.main{
  background-color: initial;
  height: 70px;
  position: fixed;
  z-index: 10001
}

.header-active{
  background-color: initial;
  position: fixed;
  transition: all 0.5s ease;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid transparent;
  border-top: none;
}
.item-p{
transition: 0.5s;
}
.header-active .header-row .right ul li:hover, .item-p:hover{
  color: #1dbf73;
}
.header-wrapper{
  width: 100%;
}
.header-row{
  
  height: 80px;
  padding: 0 32px;
  width: 100%;
}
.inp{
  border-radius: 4px 0 0 4px;
  border-right: none;
  border: 1px solid transparent;
  outline: none;
}
.header-search{
  padding-left: 20px;
}

.search-btn{
  background: #1dbf73;
  border: 1px solid transparent;
  border-radius: 0 4px 4px 0;
  color: #fff;
}

.header{
  background-color: #fff;
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  width: 100%;
  z-index: 1000;
  border-bottom:  1px solid rgba(197, 198, 201, .5);
  
  
}
.header .header-row .right ul li{
  color: #74767e;
  transition: all 0.3s ease;
}
.header .nm .fill-normal{
  fill: #404145!important;
}
.header .header-row .right ul li:hover{
  color:#1dbf73
}

.inp-active{
  border: 1px solid rgb(197, 198, 201);
  border-radius: 4px 0 0 4px;
}
.icon-inactive{
  color: #fff;
  transition: all 0.5s ease;

}
.header-active .header-row .right ul li:hover .icon-inactive{
  color: #1dbf73!important;
}
.icon-active{
  color: #74767e;
  transition: all 0.3s ease;

}
.header .header-row .right ul li:hover .icon-active{
  color: #1dbf73!important;
}

/* header item */

.show-list-item{
  top: 81px;
  background-color: #fff;
  z-index: 999;
  position: fixed;
  width: 100%;
}
.hide-list-item{
  background: initial;
  transition: all 0.5s ease;
  display: none;

}

.item-list{
  color: #62646a;
}
.job-item-li{
  position: relative;
}
.job-item .job-item-li h1{
  position: relative;
 
}
.item-list .job-item .job-item-li h1:hover::after{
  width: 100%;
}
.item-list .job-item .job-item-li h1:after{
  content: "";
  position: absolute;
  padding: 1px ;
  bottom: 0;
  left: 0;
  width: 0;
  z-index: 9999;
  background-color: #1dbf73;
  transition: all 0.5s ease;
}
.job-item-li .job-detail{
display: none;
transition: all 5s ease!important;
}
.job-item-li:hover .job-detail{
  display: block;
  transition: all 5s ease;
}
.job-detail{
  background: #fff;
  z-index: 10000;
  padding: 20px 30px;
  position: absolute;
  text-align: left;
  width: 15vw;
  box-shadow: 0 1px 3px #dadbdd;
}
.item-list .job-item .job-item-li h1:hover .job-detail{
  display:block ;
}



/* .button-hover h2{
  position: relative;
} */
